#total{
    width: 1500px;
    height: auto;
    margin: auto;
}

#body{
    margin:0px
}

#topo{
    width: 1470px;
    height: 100px;
    background-color: black;
    border: 15px solid gray;
    float: left;
}


#menu{
float: left;
background-color: black;
width: 300px;
height: 400px;
margin-top: 10px;

}

#a1{
    width: 590px;
    height:200px;
    background-color: grey;
    float: left;
    margin: 10px

}

#a2{
    float: left;
    background-color: black;
    width: 590px;
    height: 200px;
    margin-top: 10px;

}

#b1{
    float: left;
    width: 280px;
    margin: 10px;
    height: 85px;
    background-color:gray;

}

#b1 a{
    font-size: xxx-large;
    text-decoration: none;
    margin: auto;
    text-transform: uppercase;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
}

#b2{
    float: left;
    width: 280px;
    margin: 0px 10px 10px 10px;
    height: 85px;
    background-color:grey;

}
#b3{
    float: left;
    width: 280px;
    margin: 0px 10px 10px 10px;
    height: 85px;
    background-color: grey;

}
#b4{
    float: left;
    width: 280px;
    margin: 0px 10px 10px 10px;
    height: 85px;
    background-color: grey;

}